}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    width: 100%;
    border-radius: 10px;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-overlay h5 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff6f00;
}

.portfolio-overlay p {
    font-size: 18px;
    margin-bottom: 20px;
}

.portfolio-overlay a {
    color: #fff;
    font-size: 24px;
}

/* Contact Section */
.contact {
    padding: 50px 0;
    background-color: #1c1c1c;
}

.contact .container {
    max-width: 1200px;
    margin: auto;
}

.contact h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.contact h2 span {
    color: #ff6f00;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    width: 48%;
}

.contact-info h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-icons {
    display: flex;
    gap: 15px;
    }

.contact-form {
    width: 48%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .about .container {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {
        margin-bottom: 20px;
    }

    .resume-content {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .home-content h1 {
        font-size: 28px;
    }

    .home-content h3 {
        font-size: 22px;
    }
}
